.sidebar {
    width: 170px;
    background-color: orange;
    padding: 0px 20px 0px 20px;
    height: 100vh;
}

.sidebarItem {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebarItem:hover {
    background-color: blue;
}

.sidebarItem.active {
    background-color: lightblue;
}