.display {
    /* calculated height: view height minus 128 (68*2) px */
    /* border: 1px solid rgb(224, 157, 0); */
    height: calc(100% - 136px);
    padding: 16px;
}

/* .sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar-item {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-item:hover {
    background-color: #ddd;
  }
  
  .sidebar-item.active {
    background-color: #b0c4de;
  } */